{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">It's Your Girl KaKi.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, it is your friend, kaki</p>
        <p>Being in a foreign place, I often think back of my past and some of them are quite interesting.</p>
        <p>I will put them in my blog like a diary to remind myself as I am very forgetful, enjoy!:)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}